<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Total Tracks</th>
        <th>Rdio URL</th>
        <th>Radio Key</th>
        <th>Top Songs Key</th>
        <th>Key</th>
        <th>Artist Key</th>
        <!-- <th>Count</th> -->
        <!-- <th>Album Count</th> -->
      </tr>
    </thead>
    <tbody>
      <% @artists.each do |artist| %>
        <tr>
          <td>
            <img src="<%= artist["icon"] %>" height="40" width="40" />
          </td>
          <td>
            <a href="/artists/<%= artist["key"] %>"><%= artist["name"] %></a>
          </td>
          <td>
            <a href="#"><%= artist["length"] %></a>
          </td>
          <td>
            <a href="<%= artist["shortUrl"] %>" target="lbrary-artist-short-url">View in Rdio</a>
          </td>
          <td>
            <a href="#"><%= artist["radioKey"] %></a>
          </td>
          <td>
            <a href="#"><%= artist["topSongsKey"] %></a>
          </td>
          <td>
            <a href="#"><%= artist["key"] %></a>
          </td>
          <td>
            <a href="#"><%= artist["artistKey"] %></a>
          </td>
          <!-- <td>
            <a href="#"><%#= artist["count"] %></a>
          </td>
          <td>
            <a href="#"><%#= artist["albumCount"] %></a>
          </td> -->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>